:host {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-image: url('../../../content/images/starry-sky-1.jpeg'); // Make sure this path is correct
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
