:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-image: url('/content/images/starry-sky-1.jpeg'); // Make sure this path is correct
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
